<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Well Logs Checklist Curves</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <style>
    body {
      font-family: Arial, Helvetica, sans-serif;
      margin: 0;
      padding: 1rem;
    }

    h1 {
      font-size: 2rem;
      text-align: center;
      margin-top: 0;
    }

    table.dataframe {
      border-collapse: collapse;
      width: 100%;

      th,
      td {
        border: 1px solid #000;
        padding: 0.5rem;
        text-align: center;
      }

      td:empty {
        background-color: #f4af84;
      }
    }
  </style>
</head>

<body>
  <div>
    <h1>Well Logs Checklist Curves</h1>
    {{TABLE}}
  </div>
  <script>
    document.querySelectorAll("td").forEach(td => {
      if (td.textContent.includes("yes")) {
        td.style.backgroundColor = "#ccffcc";
      }
    });
    document.querySelectorAll("th").forEach((td, idx) => {
      if (idx === 0) return;
      if (idx < 4) {
        td.style.color = "red";
      } 
      else if (idx < 12) {
        td.style.color = "green";
      }
      else {
        td.style.color = "blue";
      }
    });
  </script>
</body>

</html>
